@charset "UTF-8";

body{
    background-color: rgb(86, 86, 156);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
h1, footer{
    color: white;
}
section{
    background-color: white;
    margin: auto;
    width: 500px;
    border-radius: 16px;
    padding: 20px;
    font-size: 1.2em;
}